$pb-namespace: pb;
$pb-width: 40px;
$pb-height: 40px;
$pb-font-size: 5px;
$pb-btn-border: 2px;
$pb-shadow-xOffset:-5px;
$pb-shadow-yOffset:-5px;
$pb-shadow-blur: 8px;
$color-shadow: rgba(48, 45, 45, .5);
$color-white: #FFFFFF;

// Poke Ball
$color-up: #EF4144;
$color-down:#f6f7f8;
$color-sep: #191919;
$color-btn:#EEEFF0;

// Great Ball
$color-great-blue: #0D83C0;
$color-great-red: #D53431;

// Ultra Ball
$color-ultra-grey: #373939;
$color-ultra-yellow: #F4C20D;

// Master Ball
$color-master-purple: #58528F;
$color-master-pink: #B4437F;

// Level Ball
$color-level-grey: #4F5149;
$color-level-yellow: #FBD005;
$color-level-red: #E85857;

// Lure Ball
$color-lure-blue: #00AAC4;
$color-lure-yellow: #FFA525;
$color-lure-red: #E85857;

// Love Ball
$color-love-cerise: #D73C8E;
$color-love-wewak: #F199B2;

// Heavy Ball
$color-heavy-grey: #7E6D64;
$color-heavy-blue: #3A62A8;

// Sport Ball
$color-sport-orange: #E77835;
$color-sport-yellow: #ECD35A;

// Premier Ball
$color-premier-red: #DD312E;

// Repeat Ball
$color-repeat-yellow: #FCD005;
$color-repeat-grey: #4F5149;

// Timer Ball
$color-timer-red: #E15050;
$color-timer-grey: #4E5048;

// Nest Ball
$color-nest-green: #4B6E4E;
$color-nest-brown: #AD7550;

// Net Ball
$color-net-tradewind: #50AAA0;
$color-net-emperor: #545454;

// Luxury Ball
$color-luxury-grey: #212122;
$color-luxury-yellow: #FBB03B;
$color-luxury-gray: #EEECE8;
$color-luxury-red: #CA2B3D;

// Quick Ball
$color-quick-yellow: #FCD105;
$color-quick-blue: #6492C3;

// Dusk Ball
$color-dusk-grey: #363636;
$color-dusk-green: #62B753;
$color-dusk-red: #C1272D;

// Cherish Ball
$color-cherish-red: #D35335;
$color-cherish-grey: #565A58;

// Park Ball
$color-park-yellow: #FCD105;
$color-park-blue: #036AAC;

// Captain Ball
$color-captain-blue: #19438B;

// Green Ball
$color-green-green: #42A750;

// Team Rocket Ball
$color-rocket-red: #C3242B;
$color-rocket-grey: #222222;

// Typing Ball
$color-typing-blue: #31B0FF;
$color-typing-orange: #FD762C;

// Stone Ball
$color-stone: #E2D8B6;
$color-stone-sep: #86806B;

// Gold Ball
$color-gold: #E79343;
$color-gold-sep: #A2682F;