$gradients: (
    linear-gradient(
        to bottom,
        transparent 45%,
        $color-dusk-red 45%,
        $color-dusk-red 55%,
        transparent 55%
    ),
    radial-gradient(
        circle,
        $color-dusk-green 60%,
        transparent 62%
    )
);

.#{$pb-namespace}-dusk{
    background-color: $color-dusk-grey;
    @include css3-gradients($gradients);
    @include background-size(#{100% 100%, 50% 50%});
    background-position: 0% 0%, -50% -50%;
    &::after {
        background-color: $color-dusk-grey;
        border-color: $color-dusk-red;
    }
}